@inherits LayoutComponentBase
@implements IDisposable

@inject NavigationManager NavigationManager

@* create a container for the login and register and for the layout *@
<div class="Login-container">
     <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="btn btn-dark nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>

            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
     </AuthorizeView>
 
</div>

<div class="top-row"> 
    <nav>
        <ul style="display: flex; align-items: center; gap: 20px; list-style: none; padding: 0; margin: 0;">
            <li><a href="/" class="btn btn-dark">Home</a></li>

        <div class="nav-item px-3">
            <NavLink class="btn btn-dark" href="/categories">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Categories
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="btn btn-dark" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>            
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <li>
                        <NavLink class="btn btn-dark" href="admin">
                            <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Admin
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>
            <li><a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="btn btn-dark">About</a></li>
        </ul>
    </nav>
</div>


<main>
    <article class="content px-4">
        @Body
    </article>
</main>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> 


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}