@page "/auth"

@using Microsoft.AspNetCore.Authorization

@inject PostService PostService
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Auth</PageTitle>

<h1>Welcome to the admin settings page!</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

<p>You as an admin can now see and edit all comments on the forum</p>

@* Do so admin can see every post and handle it *@