@page "/"

<PageTitle>CommunityLoop</PageTitle>

<h1><em>CommunityLoop!</em></h1>
<h3><em>Welcome to your new forum!</em></h3>

    <style>
        body {
            margin: 0;
            height: 115vh; 
            background-image: url('https://img.freepik.com/premium-vector/people-group-icon-logo-community-black-circle-white-design_678192-2497.jpg');
            background-position: center;
            background-repeat: no-repeat;
            }
    </style> 

