@page "/"

<PageTitle>CommunityLoop</PageTitle>

<h1>Hello, CommunityLoop!</h1>

Welcome to your new forum!



@* 
    <style>
        body {
            margin: 0;
            height: 100vh; 
            background-image: url('https://www.shutterstock.com/image-vector/people-icon-set-mobile-concept-600nw-2477347597.jpg');
            background-position: center;
            background-repeat: no-repeat;
            }
    </style> *@