@page "/postdetails/{category}" 

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using ProjectForum.Data 
@using ProjectForum.Models

@inject PostService PostService
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager Navigation
@inject HttpClient Http

@* Detaljer om ett inlägg, kommentarer, innehåll, titel, likeas osv *@

<h3>PostDetails</h3>
